:root {
    --background-color: rgb(211, 211, 211);  
}
h1, h2, p {
    font-style: italic;
    font-weight: normal;
}
#myself-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: auto;
} 
}
#amuse-page h1 {
    font-size: 60px;
    color: rgb(173, 216, 230);
}
#amuse-page p {
    font-size: 35px;
}
#index-page ul li {
    text-align: center;
}
