:root {
    --background-color: rgb(211, 211, 211);  
}
h1, h2, p {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    text-align: center;
}
#profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    max-width: 300px;
    height: auto;
}
#profile-page h1 {
    font-size: 6vw;
    color: rgb(145, 89, 65);
}
#profile-page p {
    font-size: 3.5vw;
    color: rgb(209, 134, 102);
}
#amuse-page h1 {
    font-size: 5.5vw; 
    color: rgb(65, 126, 145);
}
#amuse-page p {
    font-size: 3vw; 
    color: rgb(150, 208, 227);
}
#amuse-page a {
    display: inline-block; 
    text-decoration: none; 
    color: rgb(65, 126, 145);
    font-size: 3vw;
    margin: 10px 0; 
    text: center;
}
#index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    max-width: 300px;
    height: auto
}
#index-page ul li {
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
    font-size: 3.5vw;
}
#index-page ul {
    padding-left: 0;
}
#index-page table {
    Margin: auto;
    Display: felx;
    Justify-center: cente;
    width: 90%; 
}
.search-page{
    text-align: center;
    list-style: none;
    background-color: rgb(143, 168, 150); 
    font-family: 'Segoe UI', sans-serif;
    padding: 50px 20px;
}
.search-page h1 {
    font-size: 6vw; 
    color: rgb(55, 66, 58);
    margin-bottom: 30px;
}
.search-page form {
    border: 2px solid #3e5544;
    border-radius: 15px;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px 40px;
    box-shadow: 0 4px 12px ;
}
.search-page fieldset {
    border: none;
    padding: 0;
}
@media (max-widt: 768px) { 
    #profile-image, #index-image { 
        width: 90%;
        max-width: 300px;
    }
    .search-page form {
        width: 90%;
        padding: 20px;
    }
}
