:root {
    --background-color: rgb(211, 211, 211);  
}
h1, h2, p {
    font-family: 'Arial', sans-serif;
    font-weight: normal;
    text-align: center;
}
#profile-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; 
    height: auto;
}
#profile-page h1 {
    font-size: 60px;
    color: rgb(145, 89, 65);
}
#profile-page p {
    font-size: 35px;
    color: rgb(209, 134, 102);
}
#amuse-page h1 {
    font-size: 40px; 
    color: rgb(65, 126, 145);
}
#amuse-page p {
    font-size: 20px; 
    color: rgb(150, 208, 227);
}
#amuse-page a {
    display: inline-block; 
    text-decoration: none; 
    color: rgb(65, 126, 145);
    font-size: 18px;
    margin: 10px 0; 
    text: center;
}
#index-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px; 
    height: auto
}
#index-page ul li {
    text-align: center;
    list-style: none;
    margin-bottom: 10px;
}
#index-page ul {
    padding-left: 0;
}
#index-page {
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}
